@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  margin: 0;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d09812;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 4px solid #95802a;
    li {
      float: left;
      .button {
        height: 17px;
        background-color: #154a6c;
        border: none;
        color: white;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 13px;
        padding-top: 5px;
      }
      a {
        display: block;
        color: #154a6c;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Poppins';
      }
      a:hover {
        background-color: rgb(151, 108, 43);
      }
    }
  }  
  #titleSinglePost {
    height: 0px;
    padding-top: 8em;
    padding-bottom: 2em;
    background: #b51a69;
    box-shadow: 0px 74px 0px 0px #801d44, 0px 85px 0px 0px #af788ac7;
    .table-cell {
      display: table-cell;
      vertical-align: middle;
      .container {
        margin-left: 324px;
        color: #ffff;
        margin-top: -106px;
        font-size: 61px;
        .contador{
          display: flex;
          flex-direction: row;
          font-family: "Poppins", sans-serif;
          .divs_contador{
            display: flex;
            flex-direction: column;
            margin: 0px 2px 0px 8px;
            padding-right: 20px;
            height: 119px;
            align-items: center;
            border-right: 2px solid #801d44;
            p{
              margin-top: -15px;
              font-size: 39px;
              color: #801d44;

            }
          }
        }
      }    
    }
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo_RICG{
      width: 957px;
      height: 520px;
      margin-top: 100px;
    }
    hr.first_hr {
      border: 5px solid #2180a9;
      border-radius: 20px;
      width: 277px;
      background-color: #2180a9;
      margin-bottom: 70px;
    }
    h1 {
      text-align: center;
      color: #154a6c;
      font-size: 35px;
      font-family: "Poppins", sans-serif;
      width: 83%;
    }
  
    hr.second_hr {
      border: 3px solid #2180a9;
      border-radius: 15px;
      width: 499px;
      background-color: #2180a9;
      margin-bottom: 70px;
      margin-top: 40px;
    }
  }
  
  .hotel_img {
    width: 1349px;
    height: 777px;
    position: static;
  }
  .auditorio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -208px;
    width: 1083px;
    height: 526px;
    margin-left: 107px;
    border: solid 14px #eb6c0e;
    position: absolute;
    border-radius: 26px;
    .auditorio_img{
      padding: 10px;
      border: 3px solid #b5adad;
      background-color: white;
      border-radius: 10px;
      width: 1039px;
      margin-right: 54px;
      margin-top: -60px;
      box-shadow: 85px 97px 0px 0px #88a0a157;
    }
  }
  .container_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 182px;
    position: relative;
    img{
      width: 342px;
      height: 229px;
      padding: 10px;
      border: 3px solid #b5adad;
      background-color: white;
      border-radius: 10px;
      box-shadow: 40px 41px 0px 0px #88a0a157;
      margin-left: -32px;
      margin-top: -34px;
  
    }
    div{
      width: 355px;
      height: 229px;
      position: relative;
      border: solid 10px #eb6c0e;
      border-radius: 13px;
      margin-left: -5px;
      margin-top: 46px;
    }
  
  }
  hr.third_hr{
    border: 5px solid #2180a9;
    border-radius: 20px;
    width: 192px;
    background-color: #2180a9;
    margin-bottom: 40px;
    margin-top: 110px;
  }
  .contact_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    .contact_title{
      text-align: center;
      color: #154a6c;
      font-size: 35px;
      font-family: "Poppins", sans-serif;
    }

    .googleMap {
      width: 100%;
      height: 500px;
    }

    .contact_card{
      width: 465px;
      height: 301px;
      padding: 10px;
      text-align: center;
      margin-top: 120px;
      position: absolute;
      border: 4px solid darkgray;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 26px 33px 0px 0px #a9a9a9a8;
      .hotel_name{
        text-align: center;
        color: #bf2525;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        margin-top: 62px;
      }
      .hotel_lastname{
        text-align: center;
        color: #a9a9a9;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        margin-top: -13px
      }
      .hr_contact{
        width: 254px;
      }
      .hotel_address{
        color: #544f4f;
        font-size: 18px;
        margin-top: 18px;
        font-family: 'Roboto', sans-serif;
      }
      .hotel_district{
        color: #544f4f;
        font-size: 18px;
        margin-top: -9px;
        font-family: 'Roboto', sans-serif;
      }
      .hotel_page{
        color: #2180a9;
        font-size: 17px;
        margin-top: -5px;
        font-family: 'Roboto', sans-serif;
      }
      .hotel_number{
        color: #544f4f;
        font-size: 17px;
        margin-top: -7px;
        font-family: 'Roboto', sans-serif;
      }
    }
  }

  .icon_location{
    width: 80px;
    background-color: #bf2525;
    height: 80px;
    position: absolute;
    margin-top: -197px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: 5px solid #ffffff;
    outline: 3px solid #a9a9a9;
    flex-direction: column;
    justify-content: space-around;
    img{
      width: 40px;
      height: 40px;
    }
  }
  
  .footer_contain{
    background-color: #e1e1e1;
    border-top: 10px solid #d8d8d9;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 55px 50px;
    margin-top: 80px;
    width: auto;
    .site_footer {
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      h2{
        text-align: center;
        color: #154a6c;
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        margin-bottom: 4px;

      }
      .p_pf{
        color: #707074;
        text-align: center;
        font-size: 17px;
        margin-top: 0;
        font-family: 'Roboto', sans-serif;
        
      }
      .p_ps{
        color: black;
        font-size: 17px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        margin-top: 0;
      }
      .p_pt{
        color: black;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 4px;
      }
      .p_pft{
        color: #3192bb;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        margin-top: 0;
      }
  
    }
  }

  hr.fourth_hr{
    border: 3px solid #2180a9;
    border-radius: 15px;
    width: 432px;
    background-color: #2180a9;
    margin-bottom: 70px;
    margin-top: 40px;
  }
  
}

  